!.gitignore

Documentation/SRS/build
Documentation/SRS/.buildinfo
Documentation/SRS/.vscode/*

docs/build/*
!docs/build/latex
docs/build/latex/*
!docs/build/latex/TestPlan.pdf

DBInterface/*
!DBInterface/DBInterface
DBInterface/DBInterface/*
!DBInterface/DBInterface/DBQuery.cs
!DBInterface/DBInterface/DBUtils.cs
!DBInterface/DBInterface/MapData.cs
!DBInterface/DBInterface/Query.cs

!DBInterface/DBInterfaceTest
DBInterface/DBInterfaceTest/*
!DBInterface/DBInterfaceTest/DBUtilsTest.cs