!.gitignore

Documentation/SRS/build
Documentation/SRS/.buildinfo
Documentation/SRS/.vscode/*
Base\ Project/.vscode/*
Base\ Project/gridFloatExample.flt
Base\ Project/bingExample.json

Pangeo/.vscode/*

docs/build/*
!docs/build/latex
docs/build/latex/*
!docs/build/latex/TestPlan.pdf

# C# Scripts
DBInterface/*
!DBInterface/DBInterface
DBInterface/DBInterface/*
!DBInterface/DBInterface/DBQuery.cs
!DBInterface/DBInterface/DBUtils.cs
!DBInterface/DBInterface/MapData.cs
!DBInterface/DBInterface/Query.cs

# Unit tests
!DBInterface/DBInterfaceTest
DBInterface/DBInterfaceTest/*
!DBInterface/DBInterfaceTest/DBUtilsTest.cs
!DBInterface/DBInterfaceTest/DBQueryTest.cs
!DBInterface/DBInterfaceTest/MapDataTest.cs

# DBInterface Documentation
!DBInterface/DBInterfaceTest/docs/latex
DBInterface/DBInterfaceTest/docs/latex/*
DBInterface/DBInterfaceTest/docs/latex/refman.pdf

#Manual Adds
/DataManager/VRPAN_DB/obj/*
/DataManager/VRPAN_DB/bin/*
/DataManager/VRPAN_DB/.vs/*
/DataManager/VRPAN_DBTests/obj/*
/DataManager/VRPAN_DBTests/bin/*
/.vs/*
/vr_db_interaction/.vs/*

# Created by https://www.gitignore.io/api/unity
# Edit at https://www.gitignore.io/?templates=unity

### Unity ###
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
/Base\ Project/[Ll]ibrary/
/Base\ Project/[Tt]emp/
/Base\ Project/[Oo]bj/
/Base\ Project/[Bb]uild/
/Base\ Project/[Bb]uilds/
/Base\ Project/[Ll]ogs/
/Base\ Project/[Mm]emoryCaptures/

# Never ignore Asset meta data
!/Base\ Project/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# TextMesh Pro files
/Base\ Project/[Aa]ssets/TextMesh*Pro/

# Autogenerated Jetbrains Rider plugin
/Base\ Project/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
/Base\ Project/.vs/

# Gradle cache directory
/Base\ Project/.gradle/

# Autogenerated VS/MD/Consulo solution and project files
/Base\ Project/ExportedObj/
/Base\ project/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
/Base\ project/sysinfo.txt

# Builds
*.apk
*.unitypackage
*.symbols.zip

# Crashlytics generated file
crashlytics-build.properties


/Pangeo/[Ll]ibrary/
/Pangeo/[Tt]emp/
/Pangeo/[Oo]bj/
/Pangeo/[Bb]uild/
/Pangeo/[Bb]uilds/
/Pangeo/[Ll]ogs/
/Pangeo/[Mm]emoryCaptures/

# Never ignore Asset meta data
!/Pangeo/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# TextMesh Pro files
/Pangeo/[Aa]ssets/TextMesh*Pro/

# Autogenerated Jetbrains Rider plugin
/Pangeo/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
/Pangeo/.vs/

# Gradle cache directory
/Pangeo/.gradle/

# Autogenerated VS/MD/Consulo solution and project files
/Pangeo/ExportedObj/
/Pangeo/.consulo/

# End of https://www.gitignore.io/api/unity

