!.gitignore

Documentation/SRS/build
Documentation/SRS/.buildinfo
Documentation/SRS/.vscode/*

docs/build/*
!docs/build/latex
docs/build/latex/*
!docs/build/latex/TestPlan.pdf

# C# Scripts
DBInterface/*
!DBInterface/DBInterface
DBInterface/DBInterface/*
!DBInterface/DBInterface/DBQuery.cs
!DBInterface/DBInterface/DBUtils.cs
!DBInterface/DBInterface/MapData.cs
!DBInterface/DBInterface/Query.cs

# Unit tests
!DBInterface/DBInterfaceTest
DBInterface/DBInterfaceTest/*
!DBInterface/DBInterfaceTest/DBUtilsTest.cs
!DBInterface/DBInterfaceTest/DBQueryTest.cs
!DBInterface/DBInterfaceTest/MapDataTest.cs

# DBInterface Documentation
!DBInterface/DBInterfaceTest/docs/latex
DBInterface/DBInterfaceTest/docs/latex/*
DBInterface/DBInterfaceTest/docs/latex/refman.pdf